In [1]:
import json
import pandas as pd

with open("../_files/users.json") as f:
    data = json.load(f)

In [2]:
df = pd.DataFrame(columns=["id","username","email","class"])

In [3]:
for i in range(0,len(data)):
    df.loc[i] = [data[i]["id"],data[i]["username"],data[i]["email"],data[i]["class"]]

In [4]:
df

        id  username               email     class
0  1998707  reshaffa  reshaffa@gmail.com  Beginner
1  1998708    aresha    aresha@gmail.com  Beginner
2  1998709     recha     recha@gmail.com    Expert