In [9]:
# Read csv file and display to dataframe
import pandas as pd

data = pd.read_csv("../_files/mahasiswa.csv",sep=";", names = ["Nomor Induk","Nama Mahasiswa","Program Studi","Indeks Prestasi"])
df = pd.DataFrame(data)

In [10]:
df

   Nomor Induk     Nama Mahasiswa       Program Studi  Indeks Prestasi
0     12146783       Safril Sidik    Sistem Informasi             4.00
1     12146790    Agus Hendriawan  Teknik Informatika             3.82
2     12176589    Anita Kustianti    Sistem Informasi             3.58
3     12188907  Stefenus Arditapa  Teknik Informatika             3.32
4     12176591    Nurul Istikomah    Sistem Informasi             3.76