In [3]:
# Load data from excel file
import pandas as pd

data = pd.read_excel("../_files/mahasiswa.xlsx","mahasiswa")
df = pd.DataFrame(data)
df

        Nim               Nama               Prodi   IPK
0  12146783       Safril Sidik    Sistem Informasi  4.00
1  12146790    Agus Hendriawan  Teknik Informatika  3.82
2  12176589    Anita Kustianti    Sistem Informasi  3.58
3  12188907  Stefenus Arditapa  Teknik Informatika  3.32
4  12176591    Nurul Istikomah    Sistem Informasi  3.76