In [2]:
# Sample of tuple
_tuples = ("One","Two","Three","Four","Five")
print(_tuples)

('One', 'Two', 'Three', 'Four', 'Five')

In [5]:
# Sample of set
_sets = {"GBP","JPY","USD","IDR","JPY","AUD","IDR"} # set is not to duplicated items
print(_sets)

{'AUD', 'USD', 'GBP', 'IDR', 'JPY'}

In [12]:
_var = set(["TEST","LIST"])
_change = set(_tuples)
_outputs = _sets.union(_change).union(_var) # Joining multiple set
print(_outputs)

{'One', 'TEST', 'AUD', 'LIST', 'USD', 'GBP', 'Three', 'IDR', 'Two', 'Four', 'Five', 'JPY'}